@import 'styles/variables';

.pagination {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   margin: 15px 0;
   width: 372px;
   height: 32px;
   margin-left: calc(100% - 372px);

   button[disabled] {
      background-color: rgba(47, 73, 209, 0.1);
      cursor: default;
      opacity: 0.5;
   }
   button {
      height: 32px;
      width: 38px;
      left: 326px;
      top: 0px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   span {
      color: $text;
      padding: 8px 16px;
      text-decoration: none;
      transition: 0.3s ease;
      border: 1px solid rgba(0, 0, 0, 0.1);
      margin: 0 4px;
      height: 32px;
      &.active {
         background-color: $active-primary;
         color: $white;
      }
      &:hover:not(.active) {
         background-color: rgba(47, 73, 209, 0.1);
         cursor: pointer;
         color: $white;
      }
   }
}
