@import 'styles/variables';

.pagination {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 15px 0;
   button[disabled] {
      background-color: $error;
      cursor: default;
      opacity: 0.5;
   }

   span {
      color: $text;
      padding: 8px 16px;
      text-decoration: none;
      transition: 0.3s ease;
      border: 1px solid rgba(0, 0, 0, 0.1);
      margin: 0 4px;
      &.active {
         background-color: $primary;
         color: $white;
      }
      &:hover:not(.active) {
         background-color: $secondary;
         cursor: pointer;
         color: $white;
      }
   }
}
