@import 'styles/variables';
.memberSwitcher {
   display: flex;
   align-items: center;
   width: 100%;
   .switcherControl {
      display: flex;
      flex-flow: column;
      width: calc(100% / 2 - 10px);
      label {
         margin-bottom: 10px;
      }
      .switcherMembersSelect {
         min-height: 200px;
         width: 100%;
         option {
            padding: 5px;
         }
      }
   }
   .switcherButtonGroup {
      padding: 0 15px;
      button {
         cursor: pointer;
         margin: 6px 0;
         display: block; /* Make the buttons appear below each other */
      }
   }
}
@media (max-width: 798px) {
   .memberSwitcher {
      .switcherMembersSelect {
         font-size: 12px;
      }
      .switcherButtonGroup {
         padding: 0 5px;
         button {
            margin: 6px 0;
            padding: 0px;
            width: 50px;
            display: block; /* Make the buttons appear below each other */
         }
      }
   }
}
