@import 'styles/variables';
.userForm {
   background-color: $background;
   box-shadow: $box-shadow;
   width: 98%;
   margin: 10px;
   padding: 10px 20px;
   form {
      .userForm__input {
         display: flex;
         align-items: center;
         margin-top: 30px;
         max-width: 950px;
         label {
            flex: 0 15%;
            color: $text;
            font-size: 1rem;
            font-weight: 600;
         }
         .userForm__wrap {
            text-align: left;
            margin-left: 30px;
            input,
            select {
               &[type='file'] {
                  border: none;
               }
               padding: 5px;
               width: 250px;
            }
            .userForm__err {
               color: $error;
               line-height: 1.1;
               margin: 5px;
            }
            .userForm__wrap-eye {
               display: flex;
               align-items: center;
            }
         }
         i {
            position: relative;
            margin-left: 5px;
            cursor: pointer;
            transition: 0.2s ease-in-out;
         }
      }
      .userForm__image {
         padding: 10px;
         display: flex;
         img {
            max-width: 200px;
            object-fit: cover;
            margin-left: 50px;
         }
         i {
            font-size: 20px;
            margin-left: 20px;
            cursor: pointer;
         }
      }
      .userForm__btn {
         display: flex;
         align-items: center;
         justify-content: space-between;
         margin-top: 20px;
         button {
            &:hover {
               cursor: pointer;
            }
            &:disabled {
               opacity: 0.6;
               cursor: default;
            }
         }
      }
   }
}
