@import 'styles/variables';
.userForm {
   background-color: $background;
   box-shadow: $box-shadow;
   width: 98%;
   margin: 10px;
   padding: 10px 20px;
   form {
      .userForm__input {
         display: flex;
         align-items: center;
         margin-top: 30px;
         max-width: 950px;
         label {
            flex: 0 15%;
            color: $text;
            font-size: 1rem;
            font-weight: bold;
         }
         .userForm__wrap {
            text-align: left;
            margin-left: 30px;
            input,
            select {
               padding: 8px 10px;
               border: 1px solid $lightBlue;
               border-radius: 5px;
               outline: none;
               opacity: 0.7;
               color: $text;

               &[type='file'] {
                  border: none;
               }
            }
            .userForm__err {
               color: $error;
               line-height: 1.1;
               margin: 5px;
            }
         }
         i {
            position: relative;
            margin-left: 5px;
            cursor: pointer;
            transition: 0.2s ease-in-out;
         }
      }
      .userForm__image {
         padding: 10px;
         img {
            max-width: 200px;
            object-fit: cover;
            margin-left: 50px;
         }
      }
      .userForm__btn {
         display: flex;
         align-items: center;
         justify-content: space-between;
         button {
            padding: 10px 25px;
            margin: 20px;
            outline: none;
            border: 1px solid $lightBlue;
            border-radius: 5px;
            background-color: $primary;
            color: $white;
            font-size: 1rem;
            font-weight: bold;
            &:hover {
               cursor: pointer;
            }
            &:disabled {
               opacity: 0.6;
               cursor: default;
            }
         }
      }
   }
}
