@import 'styles/variables';
.userForm {
   background-color: $background;
   box-shadow: $box-shadow;
   width: 98%;
   margin: 10px;
   padding: 10px 20px;
   h1 {
      text-align: center;
   }
   form {
      display: flex;
      flex-wrap: wrap;
      width: 80%;
      margin: 0 auto;
      .userForm__input {
         width: calc(100% / 2);
         margin-top: 10px;

         .userForm__input-name {
            display: flex;
         }
         label {
            display: flex;
            padding: 5px 0;
            &.required {
               color: $text;
               font-size: 1.2rem;
               font-weight: 500;
               &::after {
                  content: '*';
                  color: $error;
               }
            }
         }
         .userForm__wrap {
            text-align: left;

            input,
            select[type='file'] {
               width: 80%;
               min-width: 160px;
               height: 45px;
            }
            .userForm__err {
               color: $error;
               line-height: 1.1;
               margin: 5px;
               font-size: 13px;
            }
            .userForm__wrap-eye {
               display: flex;
               align-items: center;
            }
         }
         i {
            position: relative;
            margin-left: 5px;
            cursor: pointer;
            transition: 0.2s ease-in-out;
         }
      }
      .userForm__image {
         padding: 10px;
         display: flex;
         img {
            max-width: 200px;
            object-fit: cover;
            margin-left: 50px;
         }
         i {
            font-size: 20px;
            margin-left: 20px;
            cursor: pointer;
         }
      }
      .userForm__btn {
         display: flex;
         align-items: center;
         justify-content: flex-end;
         margin-top: 20px;
         flex: 0 100%;
      }
   }
}
