@import 'styles/variables';
.filter__header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 20px;
   .filter__search {
      margin-left: 20px;

      label {
         i {
            color: $primary;
            font-size: 18px;
         }
      }
   }
   .filter__button {
      display: flex;
      align-items: center;
      min-width: 300px;
      justify-content: space-around;
   }
}
.filter__option {
   display: flex;
   flex-wrap: wrap;
   margin-top: 20px;
   justify-content: space-between;
   align-items: center;
   padding: 10px 15px;
   .filter__input {
      padding: 10px;
      display: flex;
      align-items: center;
   }
}
