@import 'styles/variables';
.filter__header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 20px;
   flex-wrap: wrap;
   width: 100%;
   height: 120px;
   padding: 12px 10px 10px 10px;
   background-color: $white;
   border-radius: 4px;
   a,
   button {
      margin: 0;
      background-color: #46546c;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: space-around;
   }
   .filter__header-left {
      display: flex;
      flex: 0 60%;
      align-items: center;
      height: 44px;

      .filter__header-options {
         display: flex;
         margin-left: 10px;
         align-items: center;
         justify-content: flex-start;
         flex: 0 60%;
      }

      input,
      select,
      button {
         margin-left: 16px;
      }
   }
   .filter__header-right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex: 0 30%;
      flex-grow: 1;
      button {
         margin-left: 16px;
      }

      a {
         min-width: 80px;
         padding: 6px 10px;
         font-weight: 400;
         border: 1px solid transparent;
         font-size: 14px;
         line-height: 1.42857143;
         border-radius: 4px;
      }
   }
}
@media screen and (max-width: 950px) {
   .filter__header {
      flex-wrap: wrap;
      height: 186px;
      .filter__header-left {
         flex: 0 100%;
         flex-wrap: wrap;
         justify-content: flex-start;
         .filter__header-options {
            flex: 0 100%;
            justify-content: flex-start;
            margin-left: 0;
            margin-top: 10px;
            flex-wrap: wrap;
            button {
               margin-top: 12px;
            }
         }
      }
      .filter__header-right {
         flex: 0 100%;
         justify-content: flex-end;
         margin-top: 70px;
         button,
         a {
            margin-right: 10px;
         }
      }
   }
}
