@import 'styles/variables';
@import 'styles/mixins';
.user {
   width: 99%;
   padding: 10px;

   .user__button {
      display: flex;
      justify-content: space-around;
      margin-bottom: 5px;
   }

   .dropdown {
      position: relative;
      button {
         i {
            margin-left: 5px;
            cursor: pointer;
         }
      }
      &:hover .dropdown-content {
         display: block;
      }
      .dropdown-content {
         display: none;
         overflow: hidden;
         position: absolute;
         background-color: $white;
         box-shadow: $box-shadow;
         z-index: 1;
         min-width: 160px;
         padding-top: 10px;
         a,
         div {
            float: none;
            color: $text;
            padding: 10px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
            transition: 0.2s ease;
            &:hover {
               background-color: $primary;
               color: $white;
               cursor: pointer;
            }
         }
      }
   }
   .user__header {
      padding: 10px 5px;
      font-size: 16px;
      a {
         color: $primary;
      }
   }
   .user__info {
      color: $info;
      margin-top: 10px;
      text-align: end;
      padding: 0px 20px;
      font-size: 18px;
   }
}

@media (max-width: 768px) {
   .user {
      box-shadow: none;
   }
}
