@import 'styles/variables';

.user__table {
   table,
   td,
   th {
      border: 1px solid rgba(0, 0, 0, 0.1);
      text-align: left;
      cursor: pointer;
   }

   table {
      border-collapse: collapse;
      width: 100%;
   }

   th,
   td {
      padding: 15px;
   }
   td.td-active {
      select {
         appearance: none;
         background-color: transparent;
         border: none;
         outline: none;
         text-decoration: underline;
         cursor: pointer;
         option {
            cursor: pointer;
         }
      }
   }
   th {
      background-color: $violet;
      color: $white;
      font-size: 1.1rem;
      font-weight: 400;
   }
   tr {
      transition: 0.2s ease;
      &:hover {
         background-color: rgb(207, 198, 198);
      }
   }

   .user__edit {
      .user__edit-edit {
         color: $primary;
      }
      .user__edit-delete {
         color: $error;
         margin-left: 5px;
      }
   }
}
