@import 'styles/variables';
.projectdetail__report {
   padding: 10px 20px;
   position: relative;
   .projectdetail__report-btn {
      position: absolute;
      top: 40px;
      right: 20px;
      button {
         outline: none;
         border: none;
         display: block;
         padding: 10px 25px;
         border-radius: 4px;
         float: right;
         margin-right: 10px;
      }
   }
}
