@import 'styles/variables';
.projectdetails__tasks {
   .projectdetails__tasks-header {
      padding: 5px 10px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .projectdetails__tasks-item {
         input {
            padding: 5px;
            border: 1px solid $lightBlue;
            border-radius: 20px;
            cursor: pointer;
            outline: none;
         }
         button,
         select {
            outline: none;
            border: none;
            padding: 10px;
            border-radius: 5px;
         }

         select {
            padding: 5px;
            border: 1px solid rgba($color: #000000, $alpha: 1);
         }
      }
   }
   .projectdetails__tasks-body {
      display: flex;

      .projectdetails__tasks-drag {
         flex: 0 0 20%;
         border: 1px solid rgba(0, 0, 0, 0.7);
         .projectdetails__tasks-drag--header {
            text-align: center;
            padding: 10px;
            font-size: 1.1rem;
            font-weight: bold;
            background-color: $primary;
            color: $white;
         }
         .projectdetails__tasks-drag-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            div {
               padding: 5px;
               background-color: $error;
               color: $white;
               text-align: center;
               margin: 5px 0;
               width: 98%;
               cursor: pointer;
            }
            .hide {
               display: none;
            }
         }
      }
   }
}
