@mixin size($width, $height: $width) {
   width: $width;
   height: $height;
}
@mixin border-radius($all: null, $tl: $all, $tr: $all, $btl: $all, $btr: $all) {
   border-top-left-radius: $tl;
   border-top-right-radius: $tr;
   border-bottom-right-radius: $btr;
   border-bottom-left-radius: $btl;
}
@mixin minWidth($breakpoint) {
   @media only screen and (min-width: $breakpoint) {
      @content;
   }
}
@mixin maxWidth($breakpoint) {
   @media only screen and (max-width: $breakpoint) {
      @content;
   }
}

@mixin button {
   display: inline-block;
   margin: 0 10px;
   font-weight: 400;
   text-align: center;
   white-space: nowrap;
   vertical-align: middle;
   touch-action: manipulation;
   cursor: pointer;
   background-image: none;
   border: 1px solid transparent;
   padding: 15px 20px;
   font-size: 14px;
   line-height: 1.42857143;
   border-radius: 4px;
   user-select: none;
   min-width: 80px;
   &[type='submit']:disabled {
      cursor: default;
      background-color: $error;
   }
}
@mixin input {
   display: block;
   height: 34px;
   min-width: 200px;
   padding: 20px 15px;
   font-size: 14px;
   line-height: 1.4;
   color: $text;
   background-color: #f2f2f2;
   background-image: none;
   border: none;
   border-radius: 4px;
   outline: none;
   &:focus::placeholder {
      color: transparent;
   }
   &::placeholder {
      color: $text;
      transition: color 0.3s ease;
   }
}
@mixin select {
   padding: 6px 10px;
   border: 1px solid #dddd;
   color: #333;
   background-color: #f2f2f2;
   font-size: 16px;
   cursor: pointer;
   border-radius: 5px;
   outline: none;
   text-transform: capitalize;
   & option {
      background-color: #ffff;
   }
}

@mixin table {
   table {
      margin-top: 6px;
      margin-bottom: 6px;
      max-width: none;
      border-collapse: collapse;
      border-spacing: 0;
      border: 1px solid #dee2e6;
      width: 100%;
      thead {
         display: table-header-group;
         vertical-align: middle;
         border-color: inherit;

         tr {
            display: table-row;
            vertical-align: inherit;
            border-color: inherit;
            th {
               border: 1px solid #dee2e6;
               text-align: left;
               padding: 10px;
               font-weight: 700;
            }
         }
      }
      tbody {
         display: table-row-group;
         vertical-align: middle;
         border-color: inherit;
         tr {
            display: table-row;
            vertical-align: inherit;
            border-color: inherit;
            transition: 0.2s ease;
            &:hover {
               background-color: $light;
               cursor: pointer;
            }
            &.err {
               background-color: #e67e22;
            }
            td {
               border-bottom-width: 0;
               border: 1px solid #dee2e6;
               padding: 10px;
               word-wrap: break-word;
               min-width: 100px;
               position: relative;
               a {
                  text-decoration: underline;
               }
               i.fa-exclamation-circle {
                  color: red;
                  position: absolute;
                  right: 10px;
                  bottom: 10px;
               }
               i.fa-trash-alt {
                  color: red;
                  margin: 0 10px;
               }
               i.fa-edit {
                  color: $primary;
               }
            }
         }
      }
   }
}
@media (max-width: 768px) {
   table {
      font-size: 14px;
   }
}
