$primary: #007bff;
$active-primary: #46546c;
$secondary: #6c757d;
$error: #ef5350;
$warning: #ffb648;
$info: #03a9f4;
$success: #4bde97;
$text: #222;
$background: #ffffff;
$gray: #6c757d;
$gray-dark: #343a40;
$white: #ffffff;
$lightBlue: #00e5ff;
$box-shadow: 0 1px 10px rgba(179, 179, 179, 0.7);
$violet: #584475;
$textShadow: #000 0 1px;
$border: rgba(0, 0, 0, 0.7);
$light: #f8f9fa;
$dark: #343a40;
$input-background: #eff0f6;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$dropdownZIndex: 9999;
