$primary: #42a5f5;
$secondary: #ba68c8;
$error: #ef5350;
$warning: #ff9800;
$info: #03a9f4;
$success: #4caf50;
$text: rgb(32, 38, 45);
$background: #ffffff;
$white: #fff;
$lightBlue: #00e5ff;
$box-shadow: 0 1px 10px rgba(179, 179, 179, 0.7);
$violet: #886ab5;
$textShadow: #000 0 1px;
