@import 'styles/variables';
.breadcrumb {
   span {
      font-size: 16px;
      text-transform: capitalize;
      a {
         color: $primary;
         &.link__disabled {
            color: $text;
            pointer-events: none;
         }
      }
   }
}
