@import 'styles/variables';
.createproject {
   background: $background;
   box-shadow: $box-shadow;
   width: 98%;
   padding: 15px;
   form {
      .createproject__item {
         display: flex;
         align-items: center;
         margin: 20px 0;

         textarea {
            outline: none;
            border-radius: 5px;
            border: 1px solid #333;
         }

         label {
            min-width: 120px;
            position: relative;
            &.required::after {
               content: '*';
               position: absolute;
               top: 0;
               color: red;
               padding-left: 5px;
            }
         }
         .createproject__item-wrap {
            .createproject__errr {
               color: $error;
               padding: 5px;
            }
         }
      }
      .createproject__item-date {
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding-right: 100px;
      }
      .createproject__btn {
         display: flex;
         align-items: center;
         justify-content: space-between;
      }
   }
}
