@import 'styles/variables';

.editProjectModal {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   width: 100%;
   z-index: 999;
   .editProjectModal__overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.6);
   }
   form {
      position: fixed;
      top: 10%;
      left: calc(50% - 210px);
      width: 420px;
      height: 470px;
      background-color: $white;
      padding: 10px;
      display: flex;
      flex-direction: column;
      border-radius: 4px;
      .form__header {
         display: flex;
         align-items: center;
         justify-content: space-between;
         margin-bottom: 10px;
         span {
            font-size: 20px;
         }
         i {
            color: $text;
            padding: 0 10px;
            cursor: pointer;
         }
      }
      .editProjectModal__item {
         display: flex;
         flex-direction: column;
         width: 80%;
         margin: 5px;
         padding-left: 10px;
         label {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 5px;
         }
         input,
         select {
            padding: 10px 15px;
         }
         textarea {
            border: 1px solid #c4c4c4;
            outline: none;
            height: 80px;
         }

         .editProjectModal__item-err {
            color: $error;
            font-size: 12px;
            height: 14px;
            width: 100%;
            text-overflow: clip;
         }
      }
      .editProjectModal__btn {
         display: flex;
         align-items: center;
         justify-content: space-between;
         margin-top: 10px;
         .btn__cancel {
            background: #eff0f6;
            color: $text;
            font-weight: 500;
         }
      }
   }
}
