@import 'styles/variables';
@import 'styles/mixins';
.exportUser {
   .exportUser__container {
      margin-top: 20px;
      .exportUser__table {
         overflow: auto;
         overflow-y: auto;
         overflow-x: auto;
         height: 80%;
         @include table;
         table {
            box-shadow: none;
            font-size: 14px;
            tbody,
            thead {
               tr {
                  th {
                     text-transform: capitalize;
                  }
                  td {
                     text-align: start;
                     padding: 0px 2px;
                  }
               }
            }
         }
         .exportUser__info {
            text-align: start;
            font-weight: 600;
            font-size: 18px;
            color: $primary;
            padding: 10px 0;
         }
      }
      .exportUser__btn {
         display: flex;
         align-items: center;
         justify-content: flex-end;
         margin-top: 10px;
         button {
            display: flex;
            align-items: baseline;
         }
      }
   }
}
