@import 'styles/variables';
@import 'styles/mixins';
.projectFilter {
   .projectFilter__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      .projectFilter__btn {
         display: flex;

         a {
            padding: 10px 18px;
            min-width: 100px;
            outline: none;
            border: none;
            border-radius: 5px;
            background: $primary;
            color: $white;
            cursor: pointer;
         }
      }
   }
   .projectFilter__container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 20px 0;
      min-height: 100px;
      .projectFilter__item {
         display: flex;
         align-items: center;
      }
   }
}
