@import 'styles/variables';
@import 'styles/mixins';
.table {
   .table__notfound {
      font-size: 20px;
      padding: 20px;
      width: 100%;
      font-weight: 800;
      text-align: center;
   }
   @include table;

   .table-select {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      margin: 10px 0;

      span {
         color: $info;
      }
      button {
         background-color: $error;
      }
   }
}
.tasktable__header {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   padding: 10px;
}
