@import 'styles/variables';
@import 'styles/mixins';
.table {
   padding: 8px;
   padding-bottom: 20px;
   margin-top: 20px;
   .table__notfound {
      font-size: 20px;
      padding: 20px;
      width: 100%;
      font-weight: 800;
      text-align: center;
   }
   @include table;
}
.tasktable__header {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
