@import 'styles/variables';

.reporttable__header {
   padding: 10px;
   font-size: 20px;
}

td.reporttable__options {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: center;

   .reporttable__btn {
      position: relative;
      margin-left: 10px;
      color: $primary;
      &:hover {
         cursor: pointer;
         text-decoration: underline;
      }

      &::after {
         content: '';
         position: absolute;
         border-right: 1px solid #333;
         height: 100%;
         padding-left: 5px;
      }
      &.reporttable__btn-last::after {
         display: none;
      }
   }
}
