@import 'styles/variables';
.createreport {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   width: 100%;
   z-index: 999;

   .createreport__overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.7);
   }
   form {
      position: fixed;
      top: 20%;
      left: 40%;
      width: 420px;
      background-color: $background;
      text-align: center;
      padding: 20px 10px;
      border-radius: 5px;
      .createreport__item {
         display: flex;
         align-items: center;
         justify-content: space-around;
         margin-top: 20px;
         label {
            font-size: 16px;
            color: $text;
            position: relative;
            &.required::after {
               content: '*';
               position: absolute;
               top: 0;
               color: $error;
            }
         }

         .createreport__item-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            input {
               border: 1px solid $lightBlue;
               outline: none;
               padding: 5px;
               border-radius: 5px;
            }
            .createreport__item-err {
               color: $error;
               font-size: 12px;
               padding-top: 5px;
               width: 200px;
            }
         }
      }
      .createreport__btn {
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 0 10px;
         margin-top: 20px;
         button {
            border: none;
            outline: none;
            border-radius: 5px;
         }
      }
   }
}
