@import 'styles/variables';
.profiletable {
   padding: 8px;
   padding-bottom: 20px;
   border: 1px solid rgba(0, 0, 0, 0.5);
   margin-top: 20px;

   table,
   td,
   th {
      border: 1px solid rgba(0, 0, 0, 0.1);
      text-align: left;
      cursor: pointer;
      font-size: 16px;
      text-overflow: ellipsis;
      line-height: 1.1;
   }

   table {
      border-collapse: collapse;
      width: 100%;
   }

   th,
   td {
      padding: 15px;

      a {
         color: $text;
         &:hover {
            text-decoration: underline;
         }
      }
      select {
         border: none;
         outline: none;
      }
   }
   td.td-active {
      select {
         appearance: none;
         background-color: transparent;
         border: none;
         outline: none;
         text-decoration: underline;
         cursor: pointer;
         option {
            cursor: pointer;
         }
      }
   }
   td.td-member {
      a {
         color: $primary;
      }
   }
   th {
      background-color: $violet;
      color: $white;
      font-size: 1.1rem;
      font-weight: 400;
   }
   tr {
      transition: 0.2s ease;
      height: 40px;
   }
}
