@import 'styles/variables';
.multipleSelect {
   position: relative;
   width: 180px;
   .multipleSelect__header {
      display: flex;
      align-items: center;
      .multipleSelected__btn {
         cursor: pointer;
         display: flex;
         align-items: center;
         justify-content: space-between;
         border: 1px solid #dddd;
         margin-left: 10px;
         color: $text;
         font-size: 16px;
         background-color: #f2f2f2;
         border: none;
         border-radius: 5px;
         padding: 14px 10px;
         font-size: 15px;
         width: 100%;
         &:hover {
            background-color: #e6e6e6;
         }

         i {
            padding: 0 5px;
         }
      }
   }

   .multipleSelect__list {
      position: absolute;
      top: 45px;
      width: 220px;
      background-color: $background;
      box-shadow: $box-shadow;
      z-index: $dropdownZIndex;
      padding: 10px;

      .multipleSelect__item {
         padding: 5px;
         cursor: pointer;
         transition: all 0.2s linear;
         color: $text;
         margin: 5px 0;

         &.selected {
            color: $white;
            background-color: $info;
         }
      }
   }
}
