@import 'styles/variables';
.projectdetail {
   width: 100%;
   border: 1px solid rgba(0, 0, 0, 0.7);
   padding: 10px;

   .projectdetail__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;

      span {
         font-size: 25px;
         font-weight: bold;
      }
      select {
         cursor: pointer;
         padding: 5px;
         outline: none;
         border-radius: 5px;
      }
   }
   .projectdetail__body {
      border: 1px solid rgba(0, 0, 0, 0.7);
      padding: 10px 0;

      .projectdetail__tab {
         a {
            border: 1px solid rgba(0, 0, 0, 0.5);
            padding: 10px 15px;
            color: $text;
         }
      }
   }
}
