@import 'styles/variables';
.projectdetail {
   width: 100%;
   padding: 10px;
   overflow: auto;

   .projectdetail__header {
      padding: 20px;
      height: 90px;
      max-height: 90px;

      .projectdetail__header-item {
         display: flex;
         align-items: center;
         justify-content: space-between;
         margin: 5px 0;
         span {
            font-size: 25px;
            font-weight: bold;
         }
         select {
            cursor: pointer;
            padding: 5px;
            outline: none;
            border-radius: 5px;
         }
      }
   }
   .projectdetail__body {
      border: 1px solid rgba(0, 0, 0, 0.7);
      padding: 10px 0;

      .projectdetail__tab {
         a {
            border: 1px solid rgba(0, 0, 0, 0.5);
            padding: 10px 15px;
            color: $text;
         }
      }
   }
}
