@import 'styles/variables';
@import 'styles/mixins';
* {
   box-sizing: border-box;
   font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol';
}
body {
   background-color: #eff0f6;
}
a {
   text-decoration: none;
}
ul li {
   list-style-type: none;
}

button {
   @include button;
}

input[type='text'],
input[type='password'],
input[type='date'],
input[type='email'] {
   @include input;
}
select {
   @include select;
}
label {
   margin: 0 5px;
}
h1 {
   font-size: 36px;
   font-weight: 500;
   line-height: 1.1;
   color: inherit;
}

@media (max-width: 798px) {
   select {
      font-size: 14px;
      padding: 4px;
   }
}
