@import 'styles/variables';
@import 'styles/mixins';
* {
   box-sizing: border-box;
   font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol';
}
a {
   text-decoration: none;
}
ul li {
   list-style-type: none;
}

button {
   @include button;
}

input[type='text'],
input[type='password'],
input[type='date'],
input[type='email'] {
   @include input;
}
select {
   @include select;
}
label {
   margin: 0 5px;
}
h1 {
   font-size: 36px;
   font-weight: 500;
   line-height: 1.1;
   color: inherit;
}

button {
   display: block;
   cursor: pointer;
   padding: 6px 10px;
   background-color: $primary;
   color: $white;
   &:hover {
      cursor: pointer;
   }
   &:disabled {
      cursor: not-allowed !important;
      pointer-events: none !important;
      background-color: $error;
      opacity: 0.6;
   }
   .primary {
      background-color: $primary;
   }
   .secondary {
      background-color: $secondary;
   }
   .error {
      background-color: $error;
   }
   .success {
      background-color: $success;
   }
   .info {
      background-color: $info;
   }
   .warning {
      background-color: $warning;
   }
}
@media (max-width: 798px) {
   select {
      font-size: 14px;
      padding: 4px;
   }
}
