@import 'styles/variables';
.userprofile {
   border-radius: 5px;
   width: 98%;
   padding: 10px;

   .userprofile__header {
      padding: 10px;
   }
   .userprofile__info {
      display: flex;
      align-items: center;
      box-shadow: $box-shadow;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 10px 60px;
      margin-bottom: 40px;
      background-color: $white;
      border-radius: 5px;
      width: 100%;

      img {
         max-width: 250px;
         object-fit: cover;
         border-radius: 10px;
         box-shadow: $box-shadow;
      }
      .userprofile__card {
         padding: 15px 20px;
         border-radius: 5px;
         width: 420px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         flex-wrap: wrap;
         margin: 10px 0px;

         .userprofile__card-item {
            margin: 10px 0 0 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            .userprofile__title,
            .userprofile__content {
               color: $text;
               font-size: 16px;
               font-weight: bold;
               width: 250px;
               word-break: break-all;
            }
            .userprofile__title {
               width: 100px;
            }
            .userprofile__content {
               margin-left: 5px;
               font-weight: 500;
               &.user-role {
                  text-transform: capitalize;
               }
            }
         }
         a {
            margin-top: 10px;
            padding: 10px 0;
            cursor: pointer;
            outline: none;
            background-color: $primary;
            border: none;
            border-radius: 5px;
            color: $white;
            text-align: center;
            width: 350px;
         }
      }
   }
}
@media (max-width: 768px) {
   .userprofile {
      .userprofile__card {
         flex-grow: 1;
         .userprofile__content {
            max-width: 58%;
         }
      }
      img {
         margin: 0 auto;
      }
   }
}
