@import 'styles/variables';
@import 'styles/mixins';

.userImport {
   width: 98%;
   .userImport__options {
      margin: 20px 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 20px;
      input {
         border: none;
         width: 100px;
      }
   }
   .userImport__table {
      @include table;
   }
}
